.main {
    border:1px solid black;
    width:300px;
}
.main h1{
    border:1px solid black;
    background:#ccc;
    padding: 20px;
    margin:0;
    
}
.main h1:hover{
    background: darkgray;
}




